@import 'src/styles/tools/color';
@import 'src/styles/tools/spacing';


.search-panel {
  background-color: white;
  border-radius: 10px;
  border: solid 1px get-color(black-coral-1);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.dataset-group-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;
  padding: 16px;
  width: 100%;
}

.banner{
  background-color: #fff3f3;
  border: 1px solid #cf0000;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 200px;
  text-align: center;
  color: #cf0000;
}

.footer-button-group {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 25px;
}

.skeleton-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}