@import 'src/styles/tools/color';

.search-panel {
  background-color: white;
  border-radius: 10px;
  border: solid 1px get-color(black-coral-1);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.dataset-group-card {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  padding: 16px;
  width: 100%;
}
