.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
}

.title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 300;
}

.integration_container{
    padding: 10px 48px;
}

