html, body, #root, #overlay-root {
  height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  @media screen and (prefers-reduced-motion: reduce) {
    & {
      scroll-behavior: auto;
    }
  }
}

body {
  font-family: $font-family-base;
  font-size: $veera-font-size-100;
  line-height: $veera-line-height-500;
  background-color: get-color(black-coral-0);

  @include veera-breakpoint-down(sm) {
    background-color: get-color(black-coral-0);
  }
  
}

.container {
  padding: 0px 48px;
}

.title_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}

.bordered-card{
  background-color: white;
  border-radius: 10px;
  border: solid 1px get-color(black-coral-1);
}

.title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 300;
}

.title-sm {
  font-size: 1rem;
  color: #000;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-grid {
  display: flex;
  gap: 10px;
}

.text-center {
 text-align: center;
}

a,
input,
select,
textarea,
button {
  font-family: inherit;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s, box-shadow 0.25s;
}

p {
margin-bottom: 10px;
}

a {
  color: get-color(sapphire-blue-10);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link {
  color: get-color(sapphire-blue-10);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}

h1, .h1 {
  font-size: $veera-font-size-350;
  font-weight: $veera-font-weight-alpha;
}

h2, .h2 {
  font-size: $veera-font-size-300;
}

h3, .h3 {
  font-size: $veera-font-size-250;
}

h4, .h4 {
  font-size: $veera-font-size-220;
}

h5, .h5 {
  font-size: $veera-font-size-200;
}

h6, .h6 {
  font-size: $veera-font-size-100;
  font-weight: $veera-font-weight-delta;
}
