.sidebar_collapsed {
  width: "60px";
  height: "100vh";
  background: "#333";
  color: "white";
  transition: "width 0.3s";
  overflow: "hidden";
}

.sidebar_expanded {
    width: "200px";
    height: "100vh";
    background: "#333";
    color: "white";
    transition: "width 0.3s";
    overflow: "hidden";
  }

.toggle_button{
    background: 'none';
    border: 'none';
    color: 'white';
    cursor: 'pointer';
    padding: '10px'
}

.menu{
    list-style: 'none';
    padding: '0'
}