@import '@buerokratt-ria/styles/styles/tools/spacing';
@import '@buerokratt-ria/styles/styles/tools/color';
@import '@buerokratt-ria/styles/styles/settings/variables/typography';

.nav {
  $self: &;
  width: 208px;
  background-color: get-color(sapphire-blue-10);
  overflow: auto;
  scrollbar-width: none;
  transition: width .1s ease-out;
  z-index: 100;

  &::-webkit-scrollbar {
    display: none;
  }

  li, a, .nav__toggle, .nav__menu-toggle {
    font-size: 14px;
    line-height: 1.5;
  }

  &__menu-toggle {
    display: flex;
    align-items: center;

    &:hover {
      background-color: get-color(sapphire-blue-8);
    }

    &:active {
      background-color: get-color(sapphire-blue-7);
    }
  }

  a, .nav__toggle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: get-spacing(paldiski);
    color: get-color(black-coral-0);
    padding: 14px 8px 14px 32px;
    box-shadow: inset 0 -1px 0 get-color(sapphire-blue-14);

    span:not(.icon) {
      flex: 1;
      display: block;
    }

    &:hover {
      background-color: get-color(sapphire-blue-8);
    }

    &:active {
      background-color: #2E78B3;
    }

    &.active {
      background-color: #2E78B3;
      font-weight: 700;
    }
  }

  &__toggle {
    &[aria-expanded=true] {
      font-weight: 700;

      .icon {
        transform: rotate(180deg);
      }

      + ul {
        display: block;
      }
    }

    &.nav__toggle--icon {

      .icon:first-child {
        transform: none;
      }
    }
  }

  &__toggle-icon {
    margin-left: auto;
  }

  &__menu-toggle {
    display: flex;
    align-items: center;
    gap: get-spacing(paldiski);
    width: 100%;
    color: get-color(white);
    padding: 14px 8px;
    box-shadow: inset 0 -1px 0 get-color(sapphire-blue-14);
  }

  &__submenu {
    display: none;

    a, .nav__toggle {
      background-color: get-color(sapphire-blue-14);
      box-shadow: inset 0 -1px 0 get-color(sapphire-blue-17);
    }

    #{$self} {
      &__submenu {
        a {
          background-color: get-color(sapphire-blue-17);
          box-shadow: inset 0 -1px 0 get-color(black);
          padding: 14px 48px 14px 40px;
        }
      }
    }
  }
}

.collapsed {
  .nav__submenu {
    visibility: hidden;
    height: 0;
  }

  button[aria-expanded=true] {
    .icon {
      transform: rotate(0deg);
    }
  }
}
