.label-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 20px;
  border-radius: 16px;
  background-color: #e0e0e0;
  margin: 4px;
  gap: 7px;
}

.label-chip .label {
  margin-right: 8px;
}

.label-chip .button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}