.testModalFormTextArea {
  margin-top: 30px;
}

.testModalClassifyButton {
  text-align: right;
  margin-top: 20px;
}

.testModalList {
  list-style: disc;
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}
